@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
  }

  img, video {
    max-width: 100%;
    display: block;
  }

  button {
<<<<<<< HEAD
=======
    all: unset;
>>>>>>> 9606bfe728f0728e4a01299924ecccb4bcad0167
    cursor: pointer;
  }
}